body{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    overflow-x: hidden;
}

body h1{
    font-family:'Dancing Script';
}


#barranavegacion {
    display: flex;
    justify-content: space-around;
}

#barranavegacion h1{
    color: orange;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #000;
    font-family:'Dancing Script';
}

#barranavegacion ul {
    display: flex;
}

#barranavegacion ul li {
    list-style: none;
    padding: 3px 15px 3px 15px;
}

#barranavegacion ul li:hover {
    background: orangered;
    cursor: pointer;
}

#barranavegacion ul li a {
    text-decoration: none;
    color: #fff;
}

#barranavegacion_celular ul li:hover {
    background: orangered;
    cursor: pointer;
}

#barranavegacion_celular {
    display: none;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0);
}

#barranavegacion_celular ul {
    display: flex;
    justify-content: center;
}

#barranavegacion_celular ul li {
    list-style: none;
    padding: 0 5px 0 5px;
}

#barranavegacion_celular ul li a {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 768px) {
    #barranavegacion_celular {
        display: block;
    }
    #barranavegacion ul {
        display: none;
    }
    html {
        font-size: 95%;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 70%;
    }
}

/* hasta aqui solo el heather */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    position: relative;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.menu {
    background-color: #f7f7f7;
    padding: 1em;
    margin-bottom: 20px;
}

.menu h2 {
    margin-top: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual ancho */
    grid-template-rows: repeat(3, auto); /* Tres filas automáticas en altura */
    gap: 50px; /* Espacio entre los elementos de la cuadrícula */
}

.grid-item {
    padding: 1em;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #fff; /* Fondo blanco para los ítems */
    border-radius: 8px; /* Bordes redondeados para los ítems */
}

.img-container {
    width: 100%;
    height: 75%; /* Altura fija para las imágenes */
    overflow: hidden; /* Oculta el desbordamiento de la imagen */
    margin-bottom: 10px; /* Espacio debajo de la imagen */
    border-radius: 8px; /* Bordes redondeados */
    position: relative;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    top: 0;
    left: 0;
}

.grid-item h3 {
    margin-top: 0;
}


.add-to-cart {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados para el botón */
}

.add-to-cart:hover {
    background-color: #3e8e41;
}

.cart {
    background-color: #f7f7f7;
    padding: 1em;
    margin-top: 20px;
}

.cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart li {
    padding: 1em;
    border-bottom: 1px solid #ccc;
}

.cart li:last-child {
    border-bottom: none;
}

#total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#checkout {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Bordes redondeados para el botón */
}

#checkout:hover {
    background-color: #3e8e41;
}

/* Responsive design for mobile devices */
@media only screen and (max-width: 950px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
    }
    html {
        font-size: 80%;
    }

}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr; /* Una columna */
    }
    html {
        font-size: 90%;
    }
}

#Equipoquedesarrollo h1 {
    text-align: center;
    margin-bottom: 30px;
}

.equipo {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 20px; /* Espacio entre los elementos */
    max-width: 800px; /* Ancho máximo de la galería */
    margin: 0 auto; /* Centra la galería en la página */
}

.item {
    text-align: center; /* Centra el contenido de cada elemento */
    padding: 10px; /* Añade algo de espacio alrededor de cada item */
    border-radius: 20px; /* Bordes redondeados */
    background-color: #f9f9f9; /* Fondo claro */
}

.item img {
    max-width: 60%; 
    height: auto; 
}

.item h3 {
    margin: 10px 0 5px 0; /* Espaciado entre el nombre y la imagen */
    font-size: 1.2em; /* Tamaño de la fuente del nombre */
}

.item p {
    font-size: 0.9em; /* Tamaño de la fuente de la descripción */
    color: #666; 
    margin: 5px 0; 
}

/* Estilos para el contenedor principal del login */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff7e8;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título del login */
.login-container h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: orange;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 20px;
}

/* Inputs del formulario */
.login-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

/* Botón del login */
.login-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* Hover en el botón */
.login-button:hover {
    background-color: #3e8e41;
}


/* Estilos para la página de gestión de pedidos */
main {
    padding: 20px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

h2 {
    font-family: 'Dancing Script', cursive;
    color: orange;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 20px;
    text-align: center;
}

/* Filtros de búsqueda */
.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filters label {
    font-size: 16px;
    margin-right: 10px;
}

.filters select, .filters button {
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filters button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.filters button:hover {
    background-color: #3e8e41;
}

/* Estilos de la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: center;
    font-size: 16px;
}

table th {
    background-color: #f4f4f4;
    color: #333;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

table td button {
    background-color: #f4a261;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-size: 14px;
}

table td button:hover {
    background-color: #e07b47;
}

/* Estilos del encabezado de la página */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    color: orange;
    text-shadow: 2px 2px 2px #000;
}

/* Estilos de la navegación */
#barranavegacion ul {
    display: flex;
    justify-content: center;
}

#barranavegacion ul li {
    list-style: none;
    padding: 10px 15px;
    background-color: #333;
    border-radius: 5px;
}

#barranavegacion ul li:hover {
    background-color: orangered;
    cursor: pointer;
}

#barranavegacion ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/* Estilo responsive para móviles */
@media only screen and (max-width: 768px) {
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    table th, table td {
        font-size: 14px;
    }

    header h1 {
        font-size: 2rem;
    }
}
