*{
    margin: 0;
    padding: 0;
}
/* Esta version snciona  */
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    overflow-x: hidden;

}
body h1{
    font-family:'Dancing Script';
}

#inicio{  /* se usa un # ya que estamos tomando el ID*/
    position: relative;
    width: 100vw; /* vw  representa un porcentaje del ancho total de la ventana del navegador.*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#inicio:before{
    content: "";
    position: absolute;
    top:0 ;
    left:0;
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/fotoresturante.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(30%);
}
#inicio_contenido{
    position: absolute;
}
#inicio_contenido h1{
    color: white;
    font-size: 4.5rem;
    text-shadow: 2px 2px 2px #000;

}
#inicio_contenido h2{
    color: white;
    font-size: 2rem;
    font-family: cursive;
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 2px #000;
}
#inicio_contenido a{
    color: white;
    padding: 3px 20px 3px 20px;
    border: 1px solid rgb(255, 255, 255);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 20px;
}
#inicio_contenido a:hover{
    background: rgb(212, 57, 0);
}
#header{
    position: fixed ;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}
#barranavegacion{
    display: flex;
    justify-content: space-around;
    background:rgb(0, 0,0,0.5);
}
#barranavegacion h1{
    color: orange;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #000;
    font-family:'Dancing Script';
}

#barranavegacion ul{
    display: flex;
}
#barranavegacion ul li{
    list-style: none;
    padding: 3px 15px 3px 15px;
}
#barranavegacion ul li:hover{
    background: orangered;
    cursor: pointer;
}
#barranavegacion_celular ul li:hover{
    background: orangered;
    cursor: pointer;
}

#barranavegacion ul li a{
    text-decoration: none;
    color: #fff;
}

#barranavegacion_celular{
    display: none;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0);

}
 
#barranavegacion_celular ul{
    display: flex;
    justify-content: center;
}
#barranavegacion_celular ul li{
    list-style: none;
    padding: 0 5px 0 5px;
    
}
#barranavegacion_celular ul li a{
    text-decoration: none;
    color: #fff;

 
}

@media screen and (max-width : 768px){
    #barranavegacion_celular{
        display: block;
    }
    #barranavegacion ul{
        display: none;
    }
    html{
        font-size: 95%;
    }
}
@media screen and (max-width : 360px){
    html{
        font-size: 70%;
    }
}
    